{% extends 'base.html.twig' %}

{% block title %}Hello Contact2Controller!{% endblock %}

{% block body %}

<h1>Edition de contact</h1>
<form action="" method="POST">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" class="form-control" value="{{contact.firstname}}" name="firstname" id="firstname" placeholder="firstname">
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input type="text" class="form-control" value="{{contact.lastname}}" name="lastname" id="lastname" placeholder="lastname">
  </div>
  <div class="form-group">
    <label for="birthday">Birthday</label>
    <input type="date" class="form-control" value="{{contact.birthday | date('Y-m-d') }}" name="birthday" id="birthday" placeholder="birthday">
  </div>

  <div class="form-group">
    <label for="gender">Genre</label>
    <select class="form-control" id="gender" name="gender">
      {% for key, gender in genders %}
        <option {{ key == contact.gender ? 'selected' : '' }} value="{{key}}">{{gender}}</option>
      {% endfor %}
    </select>
  </div>

  <div class="form-group">
    <label for="phone">Numéro</label>
    {% for phone in contact.phones %}
      <input type="text" class="form-control" value="{{ phone.number}}" name="phone" id="phone">
      {% else %}
      <input type="text" class="form-control" value="" name="phone" id="phone">
    {% endfor %}
  </div>


  <button type="button" class="btn btn-success" id="add">AJOUTER UN NUMERO</button><br><br>

   <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
</form>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('contact') }}
{% endblock %}
