{% extends 'base.html.twig' %}

{% block title %}Hello Contact2Controller!{% endblock %}

{% block body %}

<h1>{{ contact.id ? 'Edition de contact' : 'Ajout de contact'}}</h1>
<form action="" method="POST">
  <div class="form-group">
    <label for="firstname">Firstname</label>
    <input type="text" class="form-control" value="{{contact.firstname}}" name="firstname" id="firstname" placeholder="firstname">
  </div>
  <div class="form-group">
    <label for="lastname">Lastname</label>
    <input type="text" class="form-control" value="{{contact.lastname}}" name="lastname" id="lastname" placeholder="lastname">
  </div>
  <div class="form-group">
    <label for="birthday">Birthday</label>
    <input type="date" class="form-control" value="{{contact.birthday | date('Y-m-d') }}" name="birthday" id="birthday" placeholder="birthday">
  </div>

  <div class="form-group">
    <label for="gender">Genre</label>
    <select class="form-control" id="gender" name="gender">
      {% for key, gender in genders %}
        <option {{ key == contact.gender ? 'selected' : '' }} value="{{key}}">{{gender}}</option>
      {% endfor %}
    </select>
  </div>

{% if contact.id is not null %}
  <a href="{{ path('phone_add', {'idContact': contact.id }) }}">
    <button type="button" class="btn btn-success" id="add">AJOUTER UN NUMERO</button>
  </a>
{% endif %}

<ul>
{% for phone in contact.phones %}
  <li>{{ phone.number }} <a href="{{ path('phone_edit', {'phone': phone.id, 'idContact': contact.id }) }}">MODIFER</a> - <a href="{{ path('phone_remove', {'phone': phone.id, 'contact': contact.id }) }}">SUPPRIMER</a></li>
{% endfor %}
</ul>


<br><br>
   <button type="submit" class="btn btn-primary mb-2">Enregistrer</button>
</form>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {{ encore_entry_script_tags('contact') }}
{% endblock %}
